.app_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex: 1 0 12%;
  margin: 1px;
  height: 120px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front {
  background-image: url("./assets/frontImage.jpeg");
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.back img {
  width: 100%;
  height: 100%;
}

.card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 15px 0px 15px;
}

.sidebar_container {
  height: 100vh;
  width: 30%;
  border-left: 1px solid black;
}
