.app_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex: 1 0 12%;
  margin: 1px;
  height: 120px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front {
  background-image: url("./assets/frontImage.jpeg");
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.back img {
  width: 100%;
  height: 100%;
}

.card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 15px 0px 15px;
}

.sidebar_container {
  height: 100vh;
  width: 30%;
  padding: 10px;
  background: #222;
}

.player1_container {
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  margin-top: 15px;
}

.player1_header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  background: teal;
  color: white;
  text-shadow: 0 0 6px black;
}

.player1_module-border-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, greenyellow, green);
  border-radius: 50%;
}

.player1_module {
  display: flex;
  justify-content: center;
  align-items: center;
  background: teal;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-weight: bold;
}

.player1_pair_counter {
  font-size: 25px;
  text-shadow: 0 0 2px black;
}

.player1_counters_container {
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background: lightgreen;
}

.player2_container {
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  margin-top: 15px;
}

.player2_header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  background: #a91b60;
  color: white;
  text-shadow: 0 0 6px black;
}

.player2_module-border-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #f582a7, #942b3b);
  border-radius: 50%;
}

.player2_module {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a91b60;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-weight: bold;
}

.player2_pair_counter {
  font-size: 25px;
  text-shadow: 0 0 2px black;
}

.player2_counters_container {
  width: 100%;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background: #ec9ec0;
}

.header_titles {
  width: 100%;
  font-weight: bold;
}

.counter_title {
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 18px;
}
